.box-selected{
	background: #ffffff!important;
}

.box-selected div, .box-selected span{
	color: #000000!important;
}
.choosed{
	color: #F9690E;
}

.c1-choosed{
	color: #F9690E;
}
.c2-choosed{
	color: #F9690E;
}
.law-choosed{
	color: #F9690E;
}

.border-bot{
	border-bottom: 1px solid #ffffff!important;
}

.select-arrow{
	font-weight: bold!important;
}
.role-box{
	cursor: pointer;
}